In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline
plt.rcParams["figure.figsize"] = (8, 6)

In [3]:
df = pd.read_csv('flights.csv')
df.head(10)

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
0,0,2013,1,1,517.0,515,2.0,830.0,819,11.0,...,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,United Air Lines Inc.
1,1,2013,1,1,533.0,529,4.0,850.0,830,20.0,...,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,United Air Lines Inc.
2,2,2013,1,1,542.0,540,2.0,923.0,850,33.0,...,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,American Airlines Inc.
3,3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,...,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,JetBlue Airways
4,4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,...,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,Delta Air Lines Inc.
5,5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,...,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00,United Air Lines Inc.
6,6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,...,507,N516JB,EWR,FLL,158.0,1065,6,0,2013-01-01 06:00:00,JetBlue Airways
7,7,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,...,5708,N829AS,LGA,IAD,53.0,229,6,0,2013-01-01 06:00:00,ExpressJet Airlines Inc.
8,8,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,...,79,N593JB,JFK,MCO,140.0,944,6,0,2013-01-01 06:00:00,JetBlue Airways
9,9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,...,301,N3ALAA,LGA,ORD,138.0,733,6,0,2013-01-01 06:00:00,American Airlines Inc.

In [4]:
df.tail(10)

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
336766,336766,2013,9,30,2240.0,2250,-10.0,2347.0,7,-20.0,...,2002,N281JB,JFK,BUF,52.0,301,22,50,2013-09-30 22:00:00,JetBlue Airways
336767,336767,2013,9,30,2241.0,2246,-5.0,2345.0,1,-16.0,...,486,N346JB,JFK,ROC,47.0,264,22,46,2013-09-30 22:00:00,JetBlue Airways
336768,336768,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,...,718,N565JB,JFK,BOS,33.0,187,22,55,2013-09-30 22:00:00,JetBlue Airways
336769,336769,2013,9,30,2349.0,2359,-10.0,325.0,350,-25.0,...,745,N516JB,JFK,PSE,196.0,1617,23,59,2013-09-30 23:00:00,JetBlue Airways
336770,336770,2013,9,30,NaN,1842,NaN,NaN,2019,NaN,...,5274,N740EV,LGA,BNA,NaN,764,18,42,2013-09-30 18:00:00,ExpressJet Airlines Inc.
336771,336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,...,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00,Endeavor Air Inc.
336772,336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,...,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00,Endeavor Air Inc.
336773,336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,...,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00,Envoy Air
336774,336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,...,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00,Envoy Air
336775,336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,...,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00,Envoy Air

In [14]:
df.columns

Index(['id', 'year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour', 'name'],
      dtype='object')

In [6]:
len(df.columns)

21

In [13]:
pd.crosstab(df.columns, "")

col_0
row_0
air_time        1
arr_delay       1
arr_time        1
carrier         1
day             1
dep_delay       1
dep_time        1
dest            1
distance        1
flight          1
hour            1
id              1
minute          1
month           1
name            1
origin          1
sched_arr_time  1
sched_dep_time  1
tailnum         1
time_hour       1
year            1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              336776 non-null  int64
 1   year            336776 non-null  int64
 2   month           336776 non-null  int64
 3   day             336776 non-null  int64
 4   dep_time        328521 non-null  float64
 5   sched_dep_time  336776 non-null  int64
 6   dep_delay       328521 non-null  float64
 7   arr_time        328063 non-null  float64
 8   sched_arr_time  336776 non-null  int64
 9   arr_delay       327346 non-null  float64
 10  carrier         336776 non-null  object
 11  flight          336776 non-null  int64
 12  tailnum         334264 non-null  object
 13  origin          336776 non-null  object
 14  dest            336776 non-null  object
 15  air_time        327346 non-null  float64
 16  distance        336776 non-null  int64
 17  hour            336776 non-null  int64
 18  minute          336776 non-null  int64
 19  time_hour       336776 non-null  object
 20  name            336776 non-null  object
dtypes: float64(5), int64(10), object(6)
memory usage: 54.0+ MB

In [65]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,327346.0,NaN,NaN,NaN,168190.637793,97510.314383,0.0,83007.25,168251.5,252782.75,336769.0
year,327346.0,NaN,NaN,NaN,2013.0,0.0,2013.0,2013.0,2013.0,2013.0,2013.0
month,327346.0,NaN,NaN,NaN,6.564803,3.413444,1.0,4.0,7.0,10.0,12.0
day,327346.0,NaN,NaN,NaN,15.740825,8.777376,1.0,8.0,16.0,23.0,31.0
dep_time,327346.0,NaN,NaN,NaN,1348.789883,488.319979,1.0,907.0,1400.0,1744.0,2400.0
sched_dep_time,327346.0,NaN,NaN,NaN,1340.335098,467.413156,500.0,905.0,1355.0,1729.0,2359.0
dep_delay,327346.0,NaN,NaN,NaN,12.555156,40.065688,-43.0,-5.0,-2.0,11.0,1301.0
arr_time,327346.0,NaN,NaN,NaN,1501.908238,532.888731,1.0,1104.0,1535.0,1940.0,2400.0
sched_arr_time,327346.0,NaN,NaN,NaN,1532.788426,497.979124,1.0,1122.0,1554.0,1944.0,2359.0
arr_delay,327346.0,NaN,NaN,NaN,6.895377,44.633292,-86.0,-17.0,-5.0,14.0,1272.0
carrier,327346,16,UA,57782,NaN,NaN,NaN,NaN,NaN,NaN,NaN
flight,327346.0,NaN,NaN,NaN,1943.104501,1621.523684,1.0,544.0,1467.0,3412.0,8500.0
tailnum,327346,4037,N725MQ,544,NaN,NaN,NaN,NaN,NaN,NaN,NaN
origin,327346,3,EWR,117127,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dest,327346,104,ATL,16837,NaN,NaN,NaN,NaN,NaN,NaN,NaN
air_time,327346.0,NaN,NaN,NaN,150.68646,93.688305,20.0,82.0,129.0,192.0,695.0
distance,327346.0,NaN,NaN,NaN,1048.371314,735.908523,80.0,509.0,888.0,1389.0,4983.0
hour,327346.0,NaN,NaN,NaN,13.14101,4.662063,5.0,9.0,13.0,17.0,23.0
minute,327346.0,NaN,NaN,NaN,26.234116,19.295918,0.0,8.0,29.0,44.0,59.0
time_hour,327346,6922,2013-09-20 08:00:00,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,327346,16,United Air Lines Inc.,57782,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.describe(include = ["object"])

,carrier,tailnum,origin,dest,time_hour,name
count,336776,334264,336776,336776,336776,336776
unique,16,4043,3,105,6936,16
top,UA,N725MQ,EWR,ORD,2013-09-13 08:00:00,United Air Lines Inc.
freq,58665,575,120835,17283,94,58665

In [66]:
df.dropna(inplace=True)

In [67]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,327346.0,NaN,NaN,NaN,168190.637793,97510.314383,0.0,83007.25,168251.5,252782.75,336769.0
year,327346.0,NaN,NaN,NaN,2013.0,0.0,2013.0,2013.0,2013.0,2013.0,2013.0
month,327346.0,NaN,NaN,NaN,6.564803,3.413444,1.0,4.0,7.0,10.0,12.0
day,327346.0,NaN,NaN,NaN,15.740825,8.777376,1.0,8.0,16.0,23.0,31.0
dep_time,327346.0,NaN,NaN,NaN,1348.789883,488.319979,1.0,907.0,1400.0,1744.0,2400.0
sched_dep_time,327346.0,NaN,NaN,NaN,1340.335098,467.413156,500.0,905.0,1355.0,1729.0,2359.0
dep_delay,327346.0,NaN,NaN,NaN,12.555156,40.065688,-43.0,-5.0,-2.0,11.0,1301.0
arr_time,327346.0,NaN,NaN,NaN,1501.908238,532.888731,1.0,1104.0,1535.0,1940.0,2400.0
sched_arr_time,327346.0,NaN,NaN,NaN,1532.788426,497.979124,1.0,1122.0,1554.0,1944.0,2359.0
arr_delay,327346.0,NaN,NaN,NaN,6.895377,44.633292,-86.0,-17.0,-5.0,14.0,1272.0
carrier,327346,16,UA,57782,NaN,NaN,NaN,NaN,NaN,NaN,NaN
flight,327346.0,NaN,NaN,NaN,1943.104501,1621.523684,1.0,544.0,1467.0,3412.0,8500.0
tailnum,327346,4037,N725MQ,544,NaN,NaN,NaN,NaN,NaN,NaN,NaN
origin,327346,3,EWR,117127,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dest,327346,104,ATL,16837,NaN,NaN,NaN,NaN,NaN,NaN,NaN
air_time,327346.0,NaN,NaN,NaN,150.68646,93.688305,20.0,82.0,129.0,192.0,695.0
distance,327346.0,NaN,NaN,NaN,1048.371314,735.908523,80.0,509.0,888.0,1389.0,4983.0
hour,327346.0,NaN,NaN,NaN,13.14101,4.662063,5.0,9.0,13.0,17.0,23.0
minute,327346.0,NaN,NaN,NaN,26.234116,19.295918,0.0,8.0,29.0,44.0,59.0
time_hour,327346,6922,2013-09-20 08:00:00,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,327346,16,United Air Lines Inc.,57782,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df.drop_duplicates(inplace=True)

In [69]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,327346.0,NaN,NaN,NaN,168190.637793,97510.314383,0.0,83007.25,168251.5,252782.75,336769.0
year,327346.0,NaN,NaN,NaN,2013.0,0.0,2013.0,2013.0,2013.0,2013.0,2013.0
month,327346.0,NaN,NaN,NaN,6.564803,3.413444,1.0,4.0,7.0,10.0,12.0
day,327346.0,NaN,NaN,NaN,15.740825,8.777376,1.0,8.0,16.0,23.0,31.0
dep_time,327346.0,NaN,NaN,NaN,1348.789883,488.319979,1.0,907.0,1400.0,1744.0,2400.0
sched_dep_time,327346.0,NaN,NaN,NaN,1340.335098,467.413156,500.0,905.0,1355.0,1729.0,2359.0
dep_delay,327346.0,NaN,NaN,NaN,12.555156,40.065688,-43.0,-5.0,-2.0,11.0,1301.0
arr_time,327346.0,NaN,NaN,NaN,1501.908238,532.888731,1.0,1104.0,1535.0,1940.0,2400.0
sched_arr_time,327346.0,NaN,NaN,NaN,1532.788426,497.979124,1.0,1122.0,1554.0,1944.0,2359.0
arr_delay,327346.0,NaN,NaN,NaN,6.895377,44.633292,-86.0,-17.0,-5.0,14.0,1272.0
carrier,327346,16,UA,57782,NaN,NaN,NaN,NaN,NaN,NaN,NaN
flight,327346.0,NaN,NaN,NaN,1943.104501,1621.523684,1.0,544.0,1467.0,3412.0,8500.0
tailnum,327346,4037,N725MQ,544,NaN,NaN,NaN,NaN,NaN,NaN,NaN
origin,327346,3,EWR,117127,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dest,327346,104,ATL,16837,NaN,NaN,NaN,NaN,NaN,NaN,NaN
air_time,327346.0,NaN,NaN,NaN,150.68646,93.688305,20.0,82.0,129.0,192.0,695.0
distance,327346.0,NaN,NaN,NaN,1048.371314,735.908523,80.0,509.0,888.0,1389.0,4983.0
hour,327346.0,NaN,NaN,NaN,13.14101,4.662063,5.0,9.0,13.0,17.0,23.0
minute,327346.0,NaN,NaN,NaN,26.234116,19.295918,0.0,8.0,29.0,44.0,59.0
time_hour,327346,6922,2013-09-20 08:00:00,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,327346,16,United Air Lines Inc.,57782,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df["carrier"].value_counts()

UA    58665
B6    54635
EV    54173
DL    48110
AA    32729
MQ    26397
US    20536
9E    18460
WN    12275
VX     5162
FL     3260
AS      714
F9      685
YV      601
HA      342
OO       32
Name: carrier, dtype: int64

In [19]:
df["tailnum"].value_counts()

N725MQ    575
N722MQ    513
N723MQ    507
N711MQ    486
N713MQ    483
         ...
N7ASAA      1
N932DN      1
N318AS      1
N651UA      1
N557AS      1
Name: tailnum, Length: 4043, dtype: int64

In [20]:
df["origin"].value_counts()

EWR    120835
JFK    111279
LGA    104662
Name: origin, dtype: int64

In [21]:
df["dest"].value_counts()

ORD    17283
ATL    17215
LAX    16174
BOS    15508
MCO    14082
       ...
MTJ       15
SBN       10
ANC        8
LEX        1
LGA        1
Name: dest, Length: 105, dtype: int64

In [22]:
df["time_hour"].value_counts()

2013-09-13 08:00:00    94
2013-09-20 08:00:00    94
2013-09-09 08:00:00    93
2013-09-16 08:00:00    93
2013-09-23 08:00:00    93
                       ..
2013-10-05 23:00:00     1
2013-10-06 23:00:00     1
2013-09-13 23:00:00     1
2013-10-07 23:00:00     1
2013-09-30 23:00:00     1
Name: time_hour, Length: 6936, dtype: int64

In [23]:
df["name"].value_counts()

United Air Lines Inc.          58665
JetBlue Airways                54635
ExpressJet Airlines Inc.       54173
Delta Air Lines Inc.           48110
American Airlines Inc.         32729
Envoy Air                      26397
US Airways Inc.                20536
Endeavor Air Inc.              18460
Southwest Airlines Co.         12275
Virgin America                  5162
AirTran Airways Corporation     3260
Alaska Airlines Inc.             714
Frontier Airlines Inc.           685
Mesa Airlines Inc.               601
Hawaiian Airlines Inc.           342
SkyWest Airlines Inc.             32
Name: name, dtype: int64

In [26]:
df["origin"].value_counts(normalize = True) * 100

EWR    35.879932
JFK    33.042438
LGA    31.077630
Name: origin, dtype: float64

In [27]:
df["dest"].value_counts(normalize = True) * 100

ORD    5.131898
ATL    5.111706
LAX    4.802599
BOS    4.604841
MCO    4.181414
         ...
MTJ    0.004454
SBN    0.002969
ANC    0.002375
LEX    0.000297
LGA    0.000297
Name: dest, Length: 105, dtype: float64

In [28]:
df.sort_values(by = "arr_delay", ascending = False).head()

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
7072,7072,2013,1,9,641.0,900,1301.0,1242.0,1530,1272.0,...,51,N384HA,JFK,HNL,640.0,4983,9,0,2013-01-09 09:00:00,Hawaiian Airlines Inc.
235778,235778,2013,6,15,1432.0,1935,1137.0,1607.0,2120,1127.0,...,3535,N504MQ,JFK,CMH,74.0,483,19,35,2013-06-15 19:00:00,Envoy Air
8239,8239,2013,1,10,1121.0,1635,1126.0,1239.0,1810,1109.0,...,3695,N517MQ,EWR,ORD,111.0,719,16,35,2013-01-10 16:00:00,Envoy Air
327043,327043,2013,9,20,1139.0,1845,1014.0,1457.0,2210,1007.0,...,177,N338AA,JFK,SFO,354.0,2586,18,45,2013-09-20 18:00:00,American Airlines Inc.
270376,270376,2013,7,22,845.0,1600,1005.0,1044.0,1815,989.0,...,3075,N665MQ,JFK,CVG,96.0,589,16,0,2013-07-22 16:00:00,Envoy Air

In [29]:
df.sort_values(by = ["year", "arr_time", "distance"], ascending = [False, False, True]).head()

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
11249,11249,2013,1,13,2243.0,2129,74.0,2400.0,2224,96.0,...,4619,N16963,EWR,PHL,31.0,80,21,29,2013-01-13 21:00:00,ExpressJet Airlines Inc.
215851,215851,2013,5,24,2310.0,2159,71.0,2400.0,2304,56.0,...,4276,N11165,EWR,BDL,24.0,116,21,59,2013-05-24 21:00:00,ExpressJet Airlines Inc.
246641,246641,2013,6,26,2208.0,2000,128.0,2400.0,2127,153.0,...,4287,N8946A,JFK,BWI,35.0,184,20,0,2013-06-26 20:00:00,Endeavor Air Inc.
250340,250340,2013,6,30,2259.0,2100,119.0,2400.0,2210,110.0,...,2144,N963UW,LGA,BOS,46.0,184,21,0,2013-06-30 21:00:00,US Airways Inc.
24217,24217,2013,1,28,2303.0,2250,13.0,2400.0,2354,6.0,...,1018,N706JB,JFK,BOS,34.0,187,22,50,2013-01-28 22:00:00,JetBlue Airways

In [47]:
df.columns

Index(['id', 'year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour', 'name'],
      dtype='object')

In [40]:
x = df["dep_time"].mean()
df["dep_time"].fillna(x, inplace=True)

In [41]:
x = df["sched_dep_time"].mean()
df["sched_dep_time"].fillna(x, inplace=True)

In [42]:
x = df["dep_delay"].mean()
df["dep_delay"].fillna(x, inplace=True)

In [44]:
x = df["arr_time"].mean()
df["arr_time"].fillna(x, inplace=True)

In [45]:
x = df["sched_arr_time"].mean()
df["sched_arr_time"].fillna(x, inplace=True)

In [46]:
x = df["arr_delay"].mean()
df["arr_delay"].fillna(x, inplace=True)

In [48]:
x = df["air_time"].mean()
df["air_time"].fillna(x, inplace=True)

In [49]:
x = df["distance"].mean()
df["distance"].fillna(x, inplace=True)

In [ ]:
x = df["time_hour"].mean()
df["time_hour"].fillna(x, inplace=True)

In [50]:
x = df["hour"].mean()
df["hour"].fillna(x, inplace=True)

In [51]:
x = df["minute"].mean()
df["minute"].fillna(x, inplace=True)

In [52]:
for x in df.index:
    if df.loc[x, "hour"] >= 24:
        df.drop(x, inplace=True)

In [53]:
for x in df.index:
    if df.loc[x, "minute"] >= 60:
        df.drop(x, inplace=True)

In [54]:
df.drop_duplicates(inplace=True)

In [63]:
df.corr()

C:\Users\mobinghk\AppData\Local\Temp\ipykernel_12804\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,flight,air_time,distance,hour,minute
id,1.000000,NaN,0.069908,0.087998,0.001921,0.000332,0.049187,-0.024916,-0.016895,0.018613,-0.000234,-0.032866,0.014855,-0.000591,0.022327
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month,0.069908,NaN,1.000000,0.005036,-0.003735,-0.003358,-0.020055,-0.002457,-0.003145,-0.017382,0.000980,0.010924,0.020399,-0.003986,0.014984
day,0.087998,NaN,0.005036,1.000000,-0.000393,0.000077,0.000591,-0.005404,-0.002286,-0.000319,-0.000849,0.002236,0.003216,0.000041,0.000874
dep_time,0.001921,NaN,-0.003735,-0.000393,1.000000,0.954827,0.259613,0.662509,0.784442,0.232306,0.041530,-0.014619,-0.014134,0.953515,0.091416
sched_dep_time,0.000332,NaN,-0.003358,0.000077,0.954827,1.000000,0.198924,0.644387,0.780587,0.173896,0.028401,-0.015532,-0.012933,0.999149,0.083106
dep_delay,0.049187,NaN,-0.020055,0.000591,0.259613,0.198924,1.000000,0.029421,0.160497,0.914803,0.053970,-0.022405,-0.021681,0.198269,0.028251
arr_time,-0.024916,NaN,-0.002457,-0.005404,0.662509,0.644387,0.029421,1.000000,0.790789,0.024482,0.025007,0.054296,0.047189,0.644368,0.040746
sched_arr_time,-0.016895,NaN,-0.003145,-0.002286,0.784442,0.780587,0.160497,0.790789,1.000000,0.133261,0.013947,0.078918,0.073614,0.780562,0.049435
arr_delay,0.018613,NaN,-0.017382,-0.000319,0.232306,0.173896,0.914803,0.024482,0.133261,1.000000,0.072862,-0.035297,-0.061868,0.173456,0.021522
flight,-0.000234,NaN,0.000980,-0.000849,0.041530,0.028401,0.053970,0.025007,0.013947,0.072862,1.000000,-0.472838,-0.481460,0.027781,0.016756
air_time,-0.032866,NaN,0.010924,0.002236,-0.014619,-0.015532,-0.022405,0.054296,0.078918,-0.035297,-0.472838,1.000000,0.990650,-0.016277,0.017032
distance,0.014855,NaN,0.020399,0.003216,-0.014134,-0.012933,-0.021681,0.047189,0.073614,-0.061868,-0.481460,0.990650,1.000000,-0.013731,0.018472
hour,-0.000591,NaN,-0.003986,0.000041,0.953515,0.999149,0.198269,0.644368,0.780562,0.173456,0.027781,-0.016277,-0.013731,1.000000,0.041931
minute,0.022327,NaN,0.014984,0.000874,0.091416,0.083106,0.028251,0.040746,0.049435,0.021522,0.016756,0.017032,0.018472,0.041931,1.000000

In [64]:
df.isnull().sum()

id                0
year              0
month             0
day               0
dep_time          0
sched_dep_time    0
dep_delay         0
arr_time          0
sched_arr_time    0
arr_delay         0
carrier           0
flight            0
tailnum           0
origin            0
dest              0
air_time          0
distance          0
hour              0
minute            0
time_hour         0
name              0
dtype: int64