# Exploratory Data Analysis On Flights.csv

## Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

%matplotlib inline
plt.rcParams["figure.figsize"] = (8, 6)

## Load Dataset

In [2]:
df = pd.read_csv('flights.csv')
df.head(10)

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
0,0,2013,1,1,517.0,515,2.0,830.0,819,11.0,...,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,United Air Lines Inc.
1,1,2013,1,1,533.0,529,4.0,850.0,830,20.0,...,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,United Air Lines Inc.
2,2,2013,1,1,542.0,540,2.0,923.0,850,33.0,...,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,American Airlines Inc.
3,3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,...,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,JetBlue Airways
4,4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,...,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,Delta Air Lines Inc.
5,5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,...,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00,United Air Lines Inc.
6,6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,...,507,N516JB,EWR,FLL,158.0,1065,6,0,2013-01-01 06:00:00,JetBlue Airways
7,7,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,...,5708,N829AS,LGA,IAD,53.0,229,6,0,2013-01-01 06:00:00,ExpressJet Airlines Inc.
8,8,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,...,79,N593JB,JFK,MCO,140.0,944,6,0,2013-01-01 06:00:00,JetBlue Airways
9,9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,...,301,N3ALAA,LGA,ORD,138.0,733,6,0,2013-01-01 06:00:00,American Airlines Inc.

In [3]:
df.tail(10)

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
336766,336766,2013,9,30,2240.0,2250,-10.0,2347.0,7,-20.0,...,2002,N281JB,JFK,BUF,52.0,301,22,50,2013-09-30 22:00:00,JetBlue Airways
336767,336767,2013,9,30,2241.0,2246,-5.0,2345.0,1,-16.0,...,486,N346JB,JFK,ROC,47.0,264,22,46,2013-09-30 22:00:00,JetBlue Airways
336768,336768,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,...,718,N565JB,JFK,BOS,33.0,187,22,55,2013-09-30 22:00:00,JetBlue Airways
336769,336769,2013,9,30,2349.0,2359,-10.0,325.0,350,-25.0,...,745,N516JB,JFK,PSE,196.0,1617,23,59,2013-09-30 23:00:00,JetBlue Airways
336770,336770,2013,9,30,NaN,1842,NaN,NaN,2019,NaN,...,5274,N740EV,LGA,BNA,NaN,764,18,42,2013-09-30 18:00:00,ExpressJet Airlines Inc.
336771,336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,...,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00,Endeavor Air Inc.
336772,336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,...,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00,Endeavor Air Inc.
336773,336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,...,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00,Envoy Air
336774,336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,...,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00,Envoy Air
336775,336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,...,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00,Envoy Air

## Shape of DataSet

In [5]:
np.shape(df)

(336776, 21)

## All Dataset Columns

In [ ]:
df.columns

## Number Of Columns

In [ ]:
len(df.columns)

## Cross Table Of Columns

In [ ]:
pd.crosstab(df.columns, "")

## Delete time_hour Column

In [ ]:
df = df.drop(['time_hour'], axis=1)

## Seperating Numeric Columns & Categorical Columns

In [ ]:
cat_cols=df.select_dtypes(include=['object']).columns.tolist()
num_cols = df.select_dtypes(include=np.number).columns.tolist()
print("Categorical Variables:")
print(cat_cols)
print("Numerical Variables:")
print(num_cols)

## Drawing Histplots & BoxPlots to Colculating Skewness & Outliers

In [ ]:
for col in num_cols:
    print(col)
    print('Skew :', round(df[col].skew(), 2))
    plt.figure(figsize = (15, 4))
    plt.subplot(1, 2, 1)
    df[col].hist(grid=False)
    plt.ylabel('count')
    plt.subplot(1, 2, 2)
    sns.boxplot(x=df[col])
    plt.show()

## All Information About This DataFrame

In [ ]:
df.info()

## Statistically Description Of DataFrame

In [ ]:
df.describe(include="all").T

## Statistically Description Of Object Data Types

In [ ]:
df.describe(include = ["object"])

## Deleting All Null Rows Without Creating New DataFrame(inplace=True)

In [ ]:
df.dropna(inplace=True)

## Transposed Statistically Description Of DataFrame

In [ ]:
df.describe(include="all").T

## Deleting All Duplicate Rows Without Creating New DataFrame(inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

## Transposed Statistically Description Of DataFrame

In [ ]:
df.describe(include="all").T

## All Dataset Columns

In [ ]:
df.columns

## Unique Values of Each Column

In [ ]:
df.nunique()

## box Plot on  air_time column to Recognizing Outliers

In [ ]:
sns.boxplot(x = df['air_time'])
plt.show()

## Using IQR Technique to Recognizing Outliers on Special column

In [ ]:
def iqr_technique(DFcolumn):
  Q1 = np.percentile(DFcolumn, 25)
  Q3 = np.percentile(DFcolumn, 75)
  IQR = Q3 - Q1
  lower_range = Q1 - (1.5 * IQR)
  upper_range = Q3 + (1.5 * IQR)                        

  return lower_range,upper_range

## Apllying IQR Function on air_time Column

In [ ]:
lower_bound,upper_bound = iqr_technique(df['air_time'])
new_df = df[(df.air_time>lower_bound) & (df.air_time < upper_bound)]

## New Box Plot on air_time Column with Removing Outliers

In [ ]:
sns.boxplot(x = new_df['air_time'])

## Print Percentage Of Columns dep_time & sched_dep_time Has Vlaues Less Than 1000 By Deleted Null Values

In [ ]:
print(len(df[['dep_time', 'sched_dep_time']].apply(lambda x: x[x < 1000]).dropna()) / len(df) * 100, "%")

## Print Percentage Of Column distance Has Vlaues Greater Than 2000 By Deleted Null Values

In [ ]:
print(len(df[['distance']].apply(lambda x: x[x > 2000]).dropna()) / len(df) * 100, "%")

## Carrier Types Count

In [ ]:
df["carrier"].value_counts()

## Tailnumber Types Count

In [ ]:
df["tailnum"].value_counts()

## Origin Types Count

In [ ]:
df["origin"].value_counts()

## Destination Types Count

In [ ]:
df["dest"].value_counts()

## Airline Names Types Count

In [ ]:
df["name"].value_counts()

## Normalized Origin Types Count (percentage)

In [ ]:
df["origin"].value_counts(normalize = True) * 100

## Normalized Destination Types Count (percentage)

In [ ]:
df["dest"].value_counts(normalize = True) * 100

## Sort DataFrame By Column arr_delay in Descending Order

In [ ]:
df.sort_values(by = "arr_delay", ascending = False).head()

## Sort DataFrame By Columns year in Descending & arr_time in  Descending & distance in Ascending Order

In [ ]:
df.sort_values(by = ["year", "arr_time", "distance"], ascending = [False, False, True]).head()

## All Dataset Columns

In [ ]:
df.columns

## Fill Null Values in dep_time Column By Other Value's Mean

In [ ]:
x = df["dep_time"].mean()
df["dep_time"].fillna(x, inplace=True)

## Fill Null Values in sched_dep_time Column By Other Value's Mean

In [ ]:
x = df["sched_dep_time"].mean()
df["sched_dep_time"].fillna(x, inplace=True)

## Fill Null Values in dep_delay Column By Other Value's Mean

In [ ]:
x = df["dep_delay"].mean()
df["dep_delay"].fillna(x, inplace=True)

## Fill Null Values in arr_time Column By Other Value's Mean

In [ ]:
x = df["arr_time"].mean()
df["arr_time"].fillna(x, inplace=True)

## Fill Null Values in sched_arr_time Column By Other Value's Mean

In [ ]:
x = df["sched_arr_time"].mean()
df["sched_arr_time"].fillna(x, inplace=True)

## Fill Null Values in arr_delay Column By Other Value's Mean

In [ ]:
x = df["arr_delay"].mean()
df["arr_delay"].fillna(x, inplace=True)

## Fill Null Values in air_time Column By Other Value's Mean

In [ ]:
x = df["air_time"].mean()
df["air_time"].fillna(x, inplace=True)

## Fill Null Values in distance Column By Other Value's Mean

In [ ]:
x = df["distance"].mean()
df["distance"].fillna(x, inplace=True)

## Fill Null Values in hour Column By Other Value's Mean

In [ ]:
x = df["hour"].mean()
df["hour"].fillna(x, inplace=True)

## Fill Null Values in minute Column By Other Value's Mean

In [ ]:
x = df["minute"].mean()
df["minute"].fillna(x, inplace=True)

## Deleting hour Column's Value If Equal Or Greater Than 24

In [ ]:
for x in df.index:
    if df.loc[x, "hour"] >= 24:
        df.drop(x, inplace=True)

##  Drop minute Column's Value If Equal Or Greater Than 60

In [ ]:
for x in df.index:
    if df.loc[x, "minute"] >= 60:
        df.drop(x, inplace=True)

## Deleting All Duplicate Rows Without Creating New DataFrame(inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

## Calculation Table of Pairwise Correlation of all Columns

In [ ]:
df.corr()

## Sum of All Null Values in Each Column

In [ ]:
df.isnull().sum()

## CrossTable of Origin & Destination Columns By Normalizing Every Values

In [ ]:
pd.crosstab(df["origin"], df["dest"], normalize = 'index')

##  CrossTable of Airline's Name & Carrier Columns

In [ ]:
pd.crosstab(df["name"], df["carrier"])

## Pivot Table By Mean & Count Aggregate Function   on dep_time & sched_dep_time & dep_delay & arr_time columns appling Each Carrier Types

In [ ]:
df.pivot_table(
    ["dep_time", "sched_dep_time", "dep_delay", "arr_time"],
    ["carrier"],
    aggfunc = ["mean", "count"],
).head(10)

## All Dataset Columns

In [ ]:
df.columns

## Colculate Kurtosis on arr_delay Column

In [ ]:
df['arr_delay'].kurtosis()

## Colculate skewness on arr_delay Column

In [ ]:
df['arr_delay'].skew()

## Colculate Standard Deviation on arr_delay Column

In [ ]:
df['arr_delay'].std()

## Colculate Average on arr_delay Column

In [ ]:
df['arr_delay'].mean()

## Colculate Mode on arr_delay Column

In [ ]:
df['arr_delay'].mode()

## Colculate Median on  arr_delay Column

In [ ]:
df['arr_delay'].median()

## Drawing Histogram Graph on arr_delay column by Values Less Than 200

In [ ]:
df['arr_delay'][df['arr_delay'] < 200].hist(bins=300)

## Drawing All Categorical Columns By count Plots

In [ ]:
fig, axes = plt.subplots(5, 1, figsize = (18, 18))
fig.suptitle('Bar plot for all categorical variables in the dataset')
sns.countplot(ax = axes[0], x = 'carrier', data = df, color = 'blue', 
              order = df['carrier'].value_counts().index);
sns.countplot(ax = axes[1], x = 'tailnum', data = df, color = 'blue', 
              order = df['tailnum'].value_counts().index);
sns.countplot(ax = axes[2], x = 'origin', data = df, color = 'blue', 
              order = df['origin'].value_counts().index);
sns.countplot(ax = axes[3], x = 'dest', data = df, color = 'blue', 
              order = df['dest'].value_counts().index);
sns.countplot(ax = axes[4], x = 'name', data = df, color = 'blue', 
              order = df['name'].value_counts().index);

## Drawing Scatter_matrix Graph on dep_delay & arr_delay & disatnce Columns(Diagonal Graph is KDE)

In [ ]:
pd.plotting.scatter_matrix(
    df[["dep_delay", "arr_delay", "distance"]],
    figsize = (15, 15),
    diagonal = "kde")
plt.show()

## Simple Histogram on Carrier Column

In [ ]:
df["carrier"].hist()

##  Simple Histogram on Origin Column

In [ ]:
df["origin"].hist()

## Simple Histogram on Flight Column

In [ ]:
df["flight"].hist()

## Histogram on All  Numeric Columns

In [ ]:
df.hist(color = "k",
        bins = 20,
        figsize = (15, 10))
plt.show()

## Drawing Boxplot on column dep_time Seperated By Origin Types

In [ ]:
df.boxplot(column = "dep_time",
           by = "origin")
plt.show()

## Drawing Boxplot on column arr_time Seperated By Origin Types

In [ ]:
df.boxplot(column = "arr_time",
           by = "origin")
plt.show()

## Drawing Boxplot on column distance Seperated By Origin Types

In [ ]:
df.boxplot(column = "distance",
           by = "origin")
plt.show()

## Drawing Boxplot on column air_time Seperated By Origin Types

In [ ]:
df.boxplot(column = "air_time",
           by = "origin")
plt.show()

## Drawing a Heatmap Graph on CrossTable Created with Origin & Destination

In [ ]:
df_cross = pd.crosstab(df["origin"], df["dest"]).copy()
print(df_cross)
sns.heatmap(df_cross)

## Drawing a Green Heatmap Graph on CrossTable Created with Origin & Destination

In [ ]:
fig, ax = plt.subplots(figsize=(8,5))
custom_cmap_2 = sns.light_palette("green", as_cmap=False)
sns.heatmap(df_cross, annot=True, fmt='.0f', cmap=custom_cmap_2, ax=ax)
ax.set_ylabel('origin_location')
ax.set_xlabel('destination_location')

## Drawing a PairPlot Graph on   dep_time & dep_delay & arr_time with Origin Types Coloring

In [ ]:
sns.pairplot(df, 
             x_vars=['dep_time', 'dep_delay', 'arr_time'], 
             y_vars=['dep_time', 'dep_delay', 'arr_time'],
             hue='origin')